<div class="book-summary">
    <!-- <div id="book-search-input" role="search">
        <input type="text" placeholder="Type to search" />
    </div> -->
    <nav role="navigation">
        <ul class="summary">
            {% if page.url == "/index.html" or page.url == "/" %}
            <li class="chapter active" data-level="1.1" data-path="{{site.baseurl}}">
            {% else %}
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
            {% endif %}
                <a href="{{site.baseurl}}/">
                    {{ site.title | escape }}
                </a>
            </li>

            <li class="divider"></li>

            <!-- search link -->
            <!-- <li>
                <a href="{{site.baseurl}}/search">
                    Search
                </a>
            </li>

            <li class="divider"></li> -->

            {% assign reversed_posts = site.posts | reverse %}

            {% for post in reversed_posts %}
                {% if page.url == post.url %}
                <li class="chapter active" data-level="1.2" data-path="{{site.baseurl}}{{post.url}}">
                {% else %}
                <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                {% endif %}
                    <a href="{{site.baseurl}}{{post.url}}">
                        {{ post.title | escape }}
                    </a>
                    {% if site.toc.enabled %}
                        {% if page.url == post.url %}
                            {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}

            <li class="divider"></li>

            <li>
                <a href="https://huggingface.co/spaces/autosummproject/autosumm/tree/main">
                    Repositório
                </a>
            </li>
            
            <div style="position: fixed; bottom: 0;">
                <li class="divider"></li>
                <li>
                    <a style="text-decoration: none; padding-bottom: 0%; font-weight: bold;">Integrantes:</a>
                    <a style="text-decoration: none; padding-bottom: 0%; padding-top: 0%;">Lucas Antunes Rodrigues</a>
                    <a style="text-decoration: none; padding-top: 0%;">Matheus Henrique de Sousa Vieira</a>
                </li>
                <li>
                    <a style="text-decoration: none; padding-bottom: 0%; font-weight: bold;">Orientadora:</a>
                </li>
                <li>
                    <a style="text-decoration: none; padding-top: 0%;">Profa. Dra. Anna Helena Reali Costa</a>
                </li>
                
                <li class="divider"></li>

                <li>
                    <a href="{{site.baseurl}}/license.html">
                        Licença
                    </a>
                </li>
            </div>

        </ul>
    </nav>
</div>